@import "tailwindcss";

:root{
  --gridauto:repeat(auto-fit,minmax(200px,1fr));
}

@theme {
  --font-outfit:Outfit,sans-serif;
  --font-ovo:Ovo,serif;
  --color-lightHover:#fcf4ff;
  --color-darkHover:#2a004a;
  --color-darkTheme:#11001F;
  --shadow-black:4px 4px 0 #000;
  --shadow-white:4px 4px 0 #fff;
  
}

/* : ,
 */

body{
  font-family: Outfit;
}